/* CSS Variables */
:root {
  --primary-color: #F5A300;
  --secondary-color: #FF7700;
  --accent1-color: #F4D9B8;
  --accent2-color: #110503;
  --heading-font: 'Anton', sans-serif;
  --text-font: 'Montserrat', sans-serif;
}

/* General Styles */
body {
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
  color: var(--accent2-color);
  background-color: var(--accent1-color);
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}

h1, h2 {
  font-family: var(--heading-font);
  font-size:xx-large;
  font-weight: 80;
  color: var(--accent2-color);
  text-align: center;
}

p {
  color: var(--accent2-color);
}
/* Hero Container Styles */
.hero {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Article Styles */
article {
  position: relative;
  margin: 200px 0 0 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  overflow: hidden;
}

article img {
  float: right;
  margin-left: 10px;
  width: 150px;
  height: auto;
  border-radius: 5px;
}
/* Navigation Styles */
nav a {
  text-decoration: none;
  color: var(--accent2-color);
  margin-right: 15px;
}

nav a:hover {
  color: var(--primary-color);
}

/* Footer Styles */
footer {
  text-align: center;
  margin: 20px 0;
  color: var(--accent2-color);
}

footer a {
  margin: 0 10px;
}

footer a img {
  float:inline-end;
  margin-left: 10px;
  width: 30px;
  height: auto;
/* Remove underline from social media image links */
  text-decoration: none;
  border: none;
}