:root {
    --heading-background-color: #110503;
    --heading-text-color: #ff7700;
    --heading-font: 'Anton', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb( 0 0 0 / 0.1);
  }
header {
  background-color: #F4D9B8;
}
header img {
  width: 150px;
  position: relative;
}
header nav {
  border: 1px solid #110503;
  background: #ff7700;
  position: relative;
}
main section img {
  width: 150px;
  border: #ff7700;
  margin: 10px;
  }
footer {
  text-decoration: none;
  margin-top: 20px;
  border-top: 20px solid #ff7700;
  text-align: center;
}
footer img {
  width: 60px;
  text-align: center;
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}