/* CSS Variables */
:root {
    --heading-background-color: darkblue;
    --heading-text-color: darkblue;
    --heading-font: 'Merriweather', Helvetica, sans-serif;
    --body-font: 'Montserrat', Arial, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb( 0 0 0 / 0.1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    font-size: smaller;
    text-align: justify;
}
/* Navigation Styles */
nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
/* Main Styles */
h1 {
    color: var(--heading-background-color);
    font-family: var(--heading-font);
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
/* Aside Styles */
aside {
    width: 20em;
    padding: 10px;
    text-align: center;
    position: relative;
}
aside img {
    width: 250px;
    padding: 10px;
    height: auto;
}
aside h2 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
    top: 30px;
    left: 5px;
}
/* Footer Styles */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border)
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}